.footer {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 20px;
    color: #99979c;
    text-align: center;
        text-align: left;
    background-color: #2a2730
}

.bs-docs-footer-links li{
	list-style: none;
	display: inline-block;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container ul {
     display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
}

