.header{ height:75px;
background-color: rgb(54,121,179) ;
position:fixed;
top:0px;
z-index:10;
}
.content{  
	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left:1%;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    height:75px;
    margin-top:0;
    padding-top:30px;
    text-decoration: none;
    width:150px;
      border-right: 20px solid ¹;
}

/* Change the link color to #111 (black) on hover */
.header li a:hover {
    background-color: #111;
     border-right: 20px solid rgb(96,182,96);
     transition:0.5s;
}
.active {
    background-color: #4CAF50;
}

#login{ 
	position:absolute;
	left:90%;
   color: white;
    text-align: center;
    height:75px;
    margin-top:0;
    padding-top:25px;
    text-decoration: none;
    
 margin-right:3%;
      
}
#login:hover{
	color:rgb(96,182,96);
}
.login-body{
	position:fixed;
	top:75px;
	left:79%;
	background-color:#333;
	width:20%;
	height:25%;
	display:none;
	border: 2px solid #333;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    
}
.login-body a{ 
width:80%;
height:20%;
margin:auto;
margin-top:20px;
margin-left:30px;	
 
}
.modal-dialog{
	width:400px;
	height:300px;
}
.modal-content{
	padding-top:10px;
	padding-left: 20px;
	
}