.main-cont{ 
	margin-left:100px;
	width:60%;
	background-color:#BFBFBF;
	height:auto;
	padding-bottom: 1px;
	color:white;
}
.cont-title{
	background-color:#333;
	width:101%;

	padding-left:30px;
	height:110%;
}
.cont-body{
	margin: 0px 10px 10px 20px;
	background-color:#7F7F7F;
	padding:10px 10px 10px 20px;
}
.cont-btn{
	margin: 0px 10px 10px 20px;
	background-color:#333;	

}
.cont-btn:hover{
	color:white;
	background-color:black;	
	
}
.cont-title:hover {
    background-color: #111;
     border-right: 20px solid rgb(96,182,96);
     transition:0.5s;
}