.source {
	position:fixed;
	height:610px;
	color:#333;
	top:70px;
	left: 100%;
 	width: auto;
	background-color: black;
	transition: 1s;
	
}

.branch {
	margin-left:20px;
	heigth:79px;
	overflow:hidden;
	width: 70%;
	border-top:1px solid white;
}
.branch h5{
	color:white;
	padding-left:20px;
}

.cont {
	height:500px;
	overflow-y:scroll;
	background-color: #333;
	width: 400px;
	padding-left: 20px;
}

.cont h2 {
	color:#BFBFBF;
	
	margin-bottom: 10px;
}

.button {
	float: left;
	width: auto;
	heigth: 50px;
	position: relative;
	left: -70px;
	top:20px];
	
}

.button i {
	margin: 0;
}

.source:hover {
	z-index:9;
	left: 72%;
}