.source {
	position:fixed;
	height:580px;

	top:70px;
	left: 100%;
 	width: auto;
	background-color: black;
	transition: 1s;
	
}

.branch {
	margin-left:20px;
	heigth:79px;
	overflow-y:hidden;
	width: 250px;
	border-top:1px solid white;
}
.branch h5{

	padding-left:20px;
}

.cont {
	height:500px;
	overflow-y:scroll;
	background-color: #333;
	width: 500px;
	padding-left: 20px;
}

.cont h2 {
	margin-bottom: 10px;
}

.button {
	float: left;
	width: auto;
	heigth: 50px;
	position: relative;
	left: -50px;
	top:0;
	
}

.button i {
	margin: 0;
}

.source:hover {
	
	left: 75%;
}